*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background-color:#4B5C9D;
    color: #fff;
}
.container{
   margin: 12%;
   width: 90%;
   max-width: 700px;
}

.display{
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    border-radius: 5px;
   margin: 1rem 0 1 rem 0;
    width: 100%;
    padding: 1rem 1rem;
    margin-top: 3rem;

}

.container h1{
    font-weight: 500;
    font-size: 4rem;
}

.container h1 span{
    color: black;
    border-bottom: 4px solid black;
    padding-bottom: 0.75rem;
}
.display img{
    cursor: pointer;
    width: 50px;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 1rem;
    width: 100%;
}
.length input{
    border: 0;
    outline: 0;
    font-size: 1rem;
    width: 100%;
}

.length{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    border-radius: 5px;
   margin: 1rem 0 1 rem 0;
    width: 100%;
    padding: 1rem 1rem;
    margin-top: 2rem;
    outline: 0;
}


.container button img{
    width: 30px;
}

.container button{
    border: 0;
    outline: 0;
    background-color:black;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: white;
}